<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <div>
    Team Name: <input type="text" name="params[team]"><br>
    Team Motto: <input type="text" name="params[team][motto]">
  </div>
  <div>
    <h2>Hero 1</h2>
    Hero's Name: <input type="text" name="params[team][members][][name]"><br>
    Hero's Power: <input type="text" name="params[team][members][][power]"><br>
    Hero's Biography: <input type="text" name="params[team][members][][bio]">
  </div>
  <div>
    <h2>Hero 2</h2>
    Hero's Name: <input type="text" name="params[team][members][][name]"><br>
    Hero's Power: <input type="text" name="params[team][members][][power]"><br>
    Hero's Biography: <input type="text" name="params[team][members][][bio]">
  </div>
  <div>
    <h2>Hero 3</h2>
    Hero's Name: <input type="text" name="params[team][members][][name]"><br>
    Hero's Power: <input type="text" name="params[team][members][][power]"><br>
    Hero's Biography: <input type="text" name="params[team][members][][bio]">
  </div>
  <div>
    <input type="submit" id="Submit">
  </div>
</form>
