<h1>Create a Team and Heroes!</h1>

<form action='/teams' method="POST">

  <p>
    <label>Team Name:</label>
    <input type="text" name="team[name]" >
    <br>
    <label>Team Motto:</label>
    <input type="text" name="team[motto]" >
  </p>

  <p>
    <h2>Hero 1</h2>
    <label>Hero's Name</label>
    <input type="text" id="member1_name" name="team[members][][name]" >
    <br>
    <label>Hero's Power</label>
    <input type="text" id="member1_power" name="team[members][][power]" >
    <br>
    <label>Hero's Biography</label>
    <input type="text" id="member1_bio" name="team[members][][bio]" >
  </p>

  <p>
    <h2>Hero 2</h2>
    <label>Hero's Name</label>
    <input type="text" id="member2_name" name="team[members][][name]" >
    <br>
    <label>Hero's Power</label>
    <input type="text" id="member2_power" name="team[members][][power]" >
    <br>
    <label>Hero's Biography</label>
    <input type="text" id="member2_bio" name="team[members][][bio]" >
  </p>

  <p>
    <h2>Hero 3</h2>
    <label>Hero's Name</label>
    <input type="text" id="member3_name" name="team[members][][name]" >
    <br>
    <label>Hero's Power</label>
    <input type="text" id="member3_power" name="team[members][][power]" >
    <br>
    <label>Hero's Biography</label>
    <input type="text" id="member3_bio" name="team[members][][bio]" >
  </p>

  <input type="submit" name="submit" value="submit">
</form>
