<h1>Create a Team and Heroes!</h1>
<form method="POST" action="/teams">
  <div>
    Team Name: <input type="text" name="team[name]"><br>
    Team Motto: <input type="text" name="team[motto]">
  </div>
  <div>
    <h2>Hero 1</h2>
    Hero's Name: <input id ="member1_name" type="text" name="team[members][][name]"><br>
    Hero's Power: <input id ="member1_power" type="text" name="team[members][][power]"><br>
    Hero's Biography: <input id ="member1_bio" type="text" name="team[members][][bio]">
  </div>
  <div>
    <h2>Hero 2</h2>
    Hero's Name: <input id ="member1_name" type="text" name="team[members][][name]"><br>
    Hero's Power: <input id ="member2_power" type="text" name="team[members][][power]"><br>
    Hero's Biography: <input id ="member2_bio" type="text" name="team[members][][bio]">
  </div>
  <div>
    <h2>Hero 3</h2>
    Hero's Name: <input id ="member3_name"type="text" name="team[members][][name]"><br>
    Hero's Power: <input id ="member3_power" type="text" name="team[members][][power]"><br>
    Hero's Biography: <input id ="member3_bio" type="text" name="team[members][][bio]">
  </div>
  <div>
    <input type="submit" id="Submit">
  </div>
</form>
