<div>
  <h1>Team Name: <%= @team.name%></h1>
  <h2>Team Motto: <%= @team.motto%></h2>
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
