<div>
  <h1></h1>
  <h2>Team Motto: </h2>
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
<div>
  <h2>Hero Name: </h2>
  Hero Power: <br>
  Hero Biography:
</div>
